<h1><%= @player_1_name %> vs. <%= @player_2_name %></h1>

<h2><%= @player_2_name %> HP: 60 </h2>

<form>
  <button type="submit" formmethod="get" formaction="/attack"> Attack </button>
</form>

<h2> Attack successful! </h2>
