<form action='/names' method='post'>
  <label for="player_one_name">
    Player 1 name
    <input type="text" name="player_one_name" />
  </label>
  <label for="player_two_name">
    Player 2 name
  <input type="text" name="player_two_name" />
  </label>
  <button type="submit"> Submit </button>
</form>
